name: CI

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup
        uses: actions/setup-java@v1
        with:
          java-version: 11
          java-package: jdk
          architecture: x64

      - name: Compile
        run: sbt compile

      - name: Test - Compile 
        run: sbt test:compile

      - name: Test - Coverage
        run: sbt coverage test
